body {
	width: 100vw;
	height: 100vh;
	position: absolute;
	margin: 0;
	background-color: black;
	color: lime;
	font-family: monospace;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}
button {
	font-family: monospace;
	padding: 0.3em;
	background-color: black;
	color: lime;
	position: absolute;
	box-shadow: 0px 5px #222222;
	border: none;
	border-radius: 5px;
	margin-left: calc(50vw - 6em);
	text-align: center;
	width: 12em;
	border: 1px solid lime;
}
button:hover {
	background-color: #333333;
}
button:active{
	background-color: #686868;
	box-shadow: 0px 3px #222222; 
	margin-top: 2px;

}
.mainButton {
	left: calc(50vw - 3em - 5px);
	top: 300px;
	padding: 0.5em;
	width: calc(6em + 10px);
	background-color: black;
	color: lime;
	position: absolute;
	box-shadow: 0px 5px #222222;
	border: none;
	border-radius: 5px;
	margin: 0;
}
.mainButton:hover {
	background-color: #333333;
}
.mainButton:active {
	background-color: #686868;
	box-shadow: 0px 3px #333333; 
}
.console {
	width: 25vw;
	height: 100vh;
	border-left: 5px solid lime;
	position: fixed;
    overflow-y: scroll;
	overflow-x: hidden;
}
.choose {

}
.anime {
	animation: anime 2000ms ease-in-out infinite;
}
#Matrix {
	opacity: 0.3;
	position: absolute;
	width: 100vw;
	height: 120vh;
	overflow: hidden;
}
.points {
	top: 5px;
	right: 5px;
	position: absolute;
	padding: 3em;
	background-color: black;
}
#tabs {
	top: 30px;
	left: calc(50vw - 15em);
	width: 30em;
	height: 1.1em;
	background: black;
	border-top: 1px solid lime;
	position: absolute;
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	grid-auto-rows: minmax(10px, auto);
}
#tabs > div {
	width: 5em;
	height: 1em;
	border-top: 1px solid lime;
	text-align: center;
}
.title {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	font-size: 20px;
	text-align: center;
}
.link:hover {
	background-color: #FFFFFF;
}
@keyframes anime{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}

div::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00000022;
}